<h1>I write things.</h1>
<ol>
<% @writings.each do |writing| %>
  <li>
    <span class="written"><%= writing.created_at.strftime('%b %d, %Y') %></span>
    <article>
      <%= link_to writing.title, writing %>
      <%= writing.summary %>
    </article>
  </li>
<% end %>
</ol>