<h1>Writings</h1>

<ol>
<% @writings.each do |writing| %>
  <li>
    <%= link_to writing.title, writing %>
    <%= writing.summary %>
  </li>
<% end %>
</ol>

<%= link_to 'New Writing', new_writing_path if current_user %>