<% provide :title, 'A Bit About Me' %>

<h1>Here is someone.</h1>
<figure class="right bleed">
  <%= image_tag 'me.jpg', alt: 'I\'m probably a decent-looking chap' %>
  <figcaption>Me sitting at a replica of Kurt Vonegut’s writing desk at the Vonnegut Memorial Library in Indianapolis.</figcaption>
</figure>
<p>I make and run websites for Cancer<i>Care</i>, an awesome nonprofit in New York City which provides free services like counseling, information, and financial aid for people affected by cancer. (If you or a loved one is impacted by a cancer diagnosis and need somewhere to turn for help, call 1-800-813-HOPE.) While my job has me doing everything from Ruby on Rails development to Photoshop, I specialize in front-end user interface design. In other words, I design web pages and parts of pages to facilitate the goals of Cancer<i>Care</i>’s visitors and the organization itself. If you’d like, you can view a sample of <%= link_to 'the work I do', works_path %>.</p>
<p>That’s me when I’m wearing slacks and shiny shoes. Off the clock, I enjoy craft beer, science fiction, and cycling.</p>
<p>Oh, and <%= link_to 'I have a resume', resume_path %>, if you’re into that sort of thing.</p>
