<% provide :title, @query.blank? ? 'Search' : "Searching for “#{@query}”" %>

<h1><%= content_for(:title) %></h1>
<% if @query.present? %>
  <%= comment_on_search_term(@query) %>
<% end %>
<%= render 'layouts/search_form' %>
<% if @query.present? %>
  <% if @results.blank? %>
    <p>Sorry, no results.</p>
  <% else %>
    <ol>
      <%= render partial: 'static_pages/search_result', collection: @results %>
    </ol>
  <% end %>
<% end %>
