@font-face {
  font-family: 'CharisSIL';
  src: url('CharisSILR-webfont.eot');
  src: url('CharisSILR-webfont.eot?#iefix') format('embedded-opentype'),
       url('CharisSILR-webfont.woff') format('woff'),
       url('CharisSILR-webfont.ttf') format('truetype'),
       url('CharisSILR-webfont.svg#CharisSILRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('CharisSILI-webfont.eot');
  src: url('CharisSILI-webfont.eot?#iefix') format('embedded-opentype'),
       url('CharisSILI-webfont.woff') format('woff'),
       url('CharisSILI-webfont.ttf') format('truetype'),
       url('CharisSILI-webfont.svg#CharisSILItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('CharisSILB-webfont.eot');
  src: url('CharisSILB-webfont.eot?#iefix') format('embedded-opentype'),
       url('CharisSILB-webfont.woff') format('woff'),
       url('CharisSILB-webfont.ttf') format('truetype'),
       url('CharisSILB-webfont.svg#CharisSILBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('CharisSILBI-webfont.eot');
  src: url('CharisSILBI-webfont.eot?#iefix') format('embedded-opentype'),
       url('CharisSILBI-webfont.woff') format('woff'),
       url('CharisSILBI-webfont.ttf') format('truetype'),
       url('CharisSILBI-webfont.svg#CharisSILBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@import "reset";

$primary: #2BA4BF;
$darker_gray: #333;
$dark_gray: #666;
$gray: #999;
$light_gray: #ccc;
$lighter_gray: #eee;
$serif_stack: CharisSIL, Georgia, serif;
$mono_stack: Monaco, monospace;

$line_height: 24px;

@mixin shadow {
  -moz-box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
}

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary {display:block;}

/*
  Base Styles
*/
html { overflow-y: scroll; }
body {
  background:#fff;
  color:$darker_gray;
  font-family:$serif_stack;
  font-size:16px;
  line-height:$line_height;
}
a {
  &:link {
    color:$primary;
    text-decoration:none;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
  }
  &:visited {
    color:mix(#000, $primary, 20%);
  }
  &:hover, &:active {
    color: mix(#fff, $primary, 20%);
    text-decoration:underline;
  }
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd, figure, hgroup {margin-bottom:24px;font-weight:normal;}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5 {margin-bottom:0;}
h1 {font-size:42px;line-height:$line_height*2;}
h2 {font-size:24px;line-height:$line_height*1.5;}
h3 {font-size:21px;line-height:$line_height;}
h4 {font-size:18px;line-height:$line_height;}
h5 {font-size:16px;line-height:$line_height;}
ul {
  list-style:disc;
  ul {
    list-style:circle;
  }
}
sup, sub {
  position : relative;
  font-size : 75%;
  line-height : 0;
}
sup {
  top : -.5em;
}
sub {
  bottom : -.25em;
}
blockquote {
  padding:0 $line_height*.5;
  color:$dark_gray;
}
dt {
  font-weight:bold;
}
figure img {
  max-width:100%;
  display:block;
  margin:0 auto 12px;
}
figcaption {
  color:#dark_gray;
  line-height:16px;
  font-size:13px;
}
hr {
  background-color: $light_gray;
  border: 0;
  height:1px;
  margin:23px 0 $line_height;
  clear:both;
}
pre, code, kbd, samp {font-family:$mono_stack;}

#wrapper {
  @extend .container;
}

#admin_bar {
  background: -moz-linear-gradient(top, #CCCCCC 80%, #BBBBBB 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#CCCCCC), color-stop(100%,#BBBBBB));
  color:#fff;
  border-bottom:1px solid #bbb;
  ul {
    list-style:none;
    margin:0 auto;
    max-width:940px;
  }
  li {
    display:inline;
    margin-right:$line_height;
    &:last-child {
     float:right;
     margin:0;
    }
  }

}
.siteheader {
  ul {
    border-bottom:1px dotted $light_gray;
    font-size:24px;
    overflow:hidden;
  }
  li {
    @extend .column;
    @extend .two;
    text-align:right;
    &:first-child {
      @extend .four;
      text-align:left;
    }
  }
  a {
    display:block;
    text-decoration:none;
    color:#999;
    padding:$line_height 0;
    &:hover {
      color:#666;
    }
  }
}
.main {
  @extend .eight;
  @extend .column;
}
.sidebar {
  @extend .four;
  @extend .column;
  margin-bottom:$line_height;
}
.sitefooter {
  color:$gray;
  border-top:1px dotted $light_gray;
  padding:$line_height*.5 10px;
  clear:both;
  a {
    color:$gray;
    &:active, &:hover {
      color:$dark_gray
    }
  }
  #contact {
    float:right;
  }
}

/*
  Evening Styles
*/
body.evening {
  background:#333;
  color:#ddd;
  text-shadow:0 1px 1px rgba(0,0,0,.5);
  h1 {
    color:#fff;
  }
  blockquote {
    color:#bbb;
  }
  #footnotediv {
    color:#333;
  }
  .siteheader ul, .sitefooter, &.home h2 {border-color:#666;}
}


/*
  Helper Classes
*/
.left {
  float:left;
  margin:0 10px 10px 0;
}
.right {
  float:right;
  margin:0 0 10px 10px;
}
.main .pull {
  @extend .four;
  float:right;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

.flash {
  @extend .column;
  @extend .twelve;
  margin-bottom:$line_height;
  background:#fafafa;
  border:1px solid #eee;
  padding:10px;
  ul {
    padding-left:$line_height;
  }
}
.success {
  @extend .flash;
  background:rgba(0,128,0,.2);
  border-color:rgb(0,128,0);
}
.error {
  @extend .flash;
  background:rgba(255,0,0,.2);
  border-color:rgb(255,0,0);
}
.cover {
  display:block;
  max-width:148px;
  min-height:180px;
  font-size:16px;
  margin-left:auto;
  margin-right:auto;
  color:$gray;
  background-color:$lighter_gray;
  text-align:center;
  font-weight:italic;
  @include shadow;
}

/*
  Page-Specific Styles
*/
.home {
  .main {
    @extend .twelve;
    article {
      @extend .column;
      @extend .four;
      a {
        font-size:21px;
        display:block;
        margin-bottom:12px;
      }
    }
  }
  #latest_work {
    @extend .alpha;
    a {
      @include shadow;
      height:$line_height*8;
      overflow:hidden;
    }
  }
  #latest_writing a {
    text-align:center;
  }
  #latest_book {
    @extend .omega;
  }
  h1 {
    font-size:36px;
  }
  h2 {
    color:$gray;
    text-transform:uppercase;
    font-size:16px;
    letter-spacing:2px;
    padding:6px 0;
    border-top:1px dotted $light_gray;
    border-bottom:1px dotted $light_gray;
    margin-bottom:10px;
  }
  .cover {
    @extend .column;
    @extend .two;
    margin-bottom:$line_height;
    float:right !important;
  }
}
.books.index .main {
  @extend .twelve;
  ol {
    margin-left:-10px;
    margin-right:-10px;
    list-style:none;
    overflow:hidden;
    li {
      display:inline-block;
      vertical-align:middle;
      margin:0 10px $line_height;
    }
    a {
      display:block;
      text-decoration:none;
    }
    img {
      width:136px;
    }
  }
}
.books.show .sidebar {
  span, a {
    display:block;
    text-align:center;
  }
  .book_title {
    margin-top:$line_height;
  }
  .book_author {
    font-size:14px;
    font-variant:small-caps;
    letter-spacing:1px;
  }
  .book_publisher, a {
    font-size:14px;
  }
}
.works {
  h1 {
    @extend .column;
    @extend .twelve;
  }
  .info {
    @extend .column;
    @extend .four;
    margin-top:$line_height*2;
  }
  figure {
    @extend .column;
    @extend .eight;
    img {
      @include shadow;
    }
  }
}
.writings.index article {
  h1 {
    @extend .column;
    @extend .twelve;
  }
  .written {
    @extend .column;
    @extend .four;
    text-align:right;
    color:$light_gray;
  }
  ol {
    list-style:none;
    clear:both;
    overflow:hidden;
    a {
      display:block;
      font-size:24px;
    }
  }
  li {
    overflow:hidden;
    margin-bottom:$line_height;
  }
  article {
    @extend .column;
    @extend .eight;
  }
}
.new, .edit, .update, .create {
  h1 {
    @extend .column;
    @extend .twelve;
  }
  label {
    @extend .column;
    @extend .two;
    clear:left;
  }
  input, textarea {
    @extend .column;
    @extend .nine;
    padding:4px;
    margin-bottom:20px;
  }
  input[type='submit'] {
    width:auto;
    clear:both;
    margin:20px 0 20px 168px;
  }
}

.wishlist_items.index {
  .main {
    float:none;
    width:auto;
    margin:0;
  }
  h1, h2, h2+p {
    clear:both;
    margin:20px 10px;
  }
  h3 {
    color:#E6A525;
  }
  #charity {
    li {
      @extend .column;
      @extend .four;
    }
  }
  #stuff {
    ul {
      overflow:hidden;
      margin:20px 0;
    }
    li {
      @extend .column;
      @extend .four;
      p {
        font-size:14px;
        line-height:21px;
      }
      img {
        max-width:300px;
      }
    }
    h3 {
      clear:both;
      margin:0 10px;
      text-transform:uppercase;
      letter-spacing:4px;
      font-weight:bold;
    }
    h4 {
      margin-bottom:10px;
    }
  }
}

/*
  Footnotes
*/
#footnotes {
  border-top:1px solid $light_gray;
  padding-top:23px;
  margin-top:$line_height*2;
  h2 {
    font-size:16px;
    font-weight:bold;
    letter-spacing:2px;
    text-transform:uppercase;
  }
}
a[rel=footnote] {
  vertical-align:super;
  line-height:.5;
  &:before {
    content:"[";
  }
  &:after {
    content:"]";
  }
}
#footnotediv {
  padding:10px;
  background-color:#fff;
  background-color:#EFECE0;
  -moz-box-shadow:0 4px 8px #666;
  -webkit-box-shadow:0 4px 8px #666;
  box-shadow:0 4px 8px #666;
  behavior: url(/js/PIE.htc);
}

@import "media_queries";