<li>
  <article>
    <a href="<%= work_path(work) %>" class="screenshot">
      <%= image_tag "work/#{ work.image_filename }", :alt => '' %>
      <span><%= work.title %></span>
    </a>
  </article>
</li>