/*
	RESET
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
  Base Styles
*/
html {
  overflow-y: scroll; }

body {
  color: #333333;
  font: 16px/24px Georgia, serif; }

a:link {
  color: #2ba4bf;
  text-decoration: none; }
a:visited {
  color: #228398; }
a:hover, a:active {
  color: #55b6cb;
  text-decoration: underline; }

h1, h2, h3, h4, h5, p, ul, ol, dl, dd, figure, hgroup {
  margin-bottom: 24px;
  font-weight: normal; }

hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5 {
  margin-bottom: 0; }

h1 {
  font-size: 42px;
  line-height: 48px; }

h2 {
  font-size: 24px;
  line-height: 36px; }

h3 {
  font-size: 21px;
  line-height: 24px; }

h4 {
  font-size: 18px;
  line-height: 24px; }

h5 {
  font-size: 16px;
  line-height: 24px; }

ul {
  list-style: disc; }
  ul ul {
    list-style: circle; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  padding: 0 12px;
  color: #666666; }

dt {
  font-weight: bold; }

figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto 12px; }

figcaption {
  color: #dark_gray;
  line-height: 16px;
  font-size: 13px; }

hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin: 23px 0 24px;
  clear: both; }

pre, code, kbd, samp {
  font-family: Monaco, monospace; }

#admin_bar {
  background: -moz-linear-gradient(top, #cccccc 80%, #bbbbbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #cccccc), color-stop(100%, #bbbbbb));
  color: #fff;
  border-bottom: 1px solid #bbb; }
  #admin_bar ul {
    list-style: none;
    margin: 0 auto;
    max-width: 940px; }
  #admin_bar li {
    display: inline;
    margin-right: 24px; }
    #admin_bar li:last-child {
      float: right;
      margin: 0; }

.siteheader ul {
  border-bottom: 1px dotted #cccccc;
  font-size: 24px;
  overflow: hidden; }
.siteheader li {
  text-align: right; }
  .siteheader li:first-child {
    text-align: left; }
.siteheader a {
  display: block;
  text-decoration: none;
  color: #999;
  padding: 24px 0; }
  .siteheader a:hover {
    color: #666; }

.sidebar {
  margin-bottom: 24px; }

.sitefooter {
  color: #999999;
  border-top: 1px dotted #cccccc;
  padding: 10px;
  clear: both; }
  .sitefooter a {
    color: #999999; }
    .sitefooter a:active, .sitefooter a:hover {
      color: #666666; }
  .sitefooter #contact {
    float: right; }

/*
  Helper Classes
*/
.left {
  float: left;
  margin: 0 10px 10px 0; }

.right {
  float: right;
  margin: 0 0 10px 10px; }

.main .pull {
  float: right; }

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* IE < 8 */
.flash, .success, .error {
  margin-bottom: 24px;
  background: #fafafa;
  border: 1px solid #eee;
  padding: 10px; }

.success {
  background: #90ee90;
  border-color: #008000; }

.error {
  background: #ffc0cb;
  border-color: #ff0000; }

.cover {
  display: block;
  max-width: 148px;
  min-height: 180px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #999999;
  background-color: #eeeeee;
  text-align: center;
  font-weight: italic;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

/*
  Page-Specific Styles
*/
.home .main article a {
  font-size: 21px;
  display: block;
  margin-bottom: 12px; }
.home #latest_work a {
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 200px;
  overflow: hidden; }
.home #latest_work img {
  margin-top: 12px; }
.home #latest_writing a {
  text-align: center; }
.home h1 {
  font-size: 36px; }
.home h2 {
  color: #999999;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 6px 0;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 10px; }
.home .cover {
  margin-bottom: 24px;
  float: right !important; }

.books.index .main ol {
  margin-left: -10px;
  margin-right: -10px;
  list-style: none;
  overflow: hidden; }
  .books.index .main ol li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 24px; }
  .books.index .main ol a {
    display: block;
    text-decoration: none; }
  .books.index .main ol img {
    width: 136px; }

.books.show .sidebar span, .books.show .sidebar a {
  display: block;
  text-align: center; }
.books.show .sidebar .book_title {
  margin-top: 24px; }
.books.show .sidebar .book_author {
  font-size: 14px;
  font-variant: small-caps;
  letter-spacing: 1px; }
.books.show .sidebar .book_publisher, .books.show .sidebar a {
  font-size: 14px; }

.works .info {
  margin-top: 48px; }
.works figure img {
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.writings.index article .written {
  text-align: right;
  color: #cccccc; }
.writings.index article ol {
  list-style: none;
  clear: both;
  overflow: hidden; }
  .writings.index article ol a {
    display: block;
    font-size: 24px; }
.writings.index article li {
  overflow: hidden;
  margin-bottom: 24px; }

.new label, .edit label {
  clear: left; }
.new input, .new textarea, .edit input, .edit textarea {
  padding: 4px;
  margin-bottom: 20px; }
.new input[type='submit'], .edit input[type='submit'] {
  width: auto;
  clear: both;
  margin: 20px auto; }

/*
  Footnotes
*/
#footnotes {
  border-top: 1px solid #cccccc;
  padding-top: 23px;
  margin-top: 48px; }
  #footnotes h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase; }

a[rel=footnote] {
  vertical-align: super;
  line-height: .5; }
  a[rel=footnote]:before {
    content: "["; }
  a[rel=footnote]:after {
    content: "]"; }

#footnotediv {
  padding: 10px;
  background-color: #fff;
  background-color: #EFECE0;
  -moz-box-shadow: 0 4px 8px #666;
  -webkit-box-shadow: 0 4px 8px #666;
  box-shadow: 0 4px 8px #666;
  behavior: url(/js/PIE.htc); }

/*
  Base, 960px
*/
.container, #wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.column, .siteheader li, .main, .sidebar, .home .main article, .home .cover, .works h1, .works .info, .works figure, .writings.index article h1, .writings.index article .written, .writings.index article article, .new h1, .edit h1, .new label, .edit label, .new input, .new textarea, .edit input, .edit textarea {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.alpha, .home #latest_work {
  margin-left: 0; }

.omega, .home #latest_book {
  margin-right: 0; }

.one {
  width: 60px; }

.two, .siteheader li, .home .cover, .new label, .edit label {
  width: 140px; }

.three {
  width: 220px; }

.four, .siteheader li:first-child, .sidebar, .main .pull, .home .main article, .works .info, .writings.index article .written {
  width: 300px; }

.five {
  width: 380px; }

.six {
  width: 460px; }

.seven {
  width: 540px; }

.eight, .main, .works figure, .writings.index article article {
  width: 620px; }

.nine, .new input, .new textarea, .edit input, .edit textarea {
  width: 700px; }

.ten {
  width: 780px; }

.eleven {
  width: 860px; }

.twelve, .home .main, .books.index .main, .works h1, .writings.index article h1, .new h1, .edit h1 {
  width: 940px; }

.pull {
  width: 300px;
  margin-right: -320px;
  float: right; }

/*
  Tablet portrait, 768px
*/
@media only screen and (min-width:768px) and (max-width:980px) {
  .container, #wrapper {
    width: 768px; }

  .column, .siteheader li, .main, .sidebar, .home .main article, .home .cover, .works h1, .works .info, .works figure, .writings.index article h1, .writings.index article .written, .writings.index article article, .new h1, .edit h1, .new label, .edit label, .new input, .new textarea, .edit input, .edit textarea {
    margin-left: 6px;
    margin-right: 6px; }

  .alpha, .home #latest_work {
    margin-left: 0;
    margin-right: 6px; }

  .omega, .home #latest_book {
    margin-right: 0;
    margin-left: 6px; }

  .one {
    width: 52px; }

  .two, .siteheader li, .home .cover, .new label, .edit label {
    width: 116px; }

  .three {
    width: 180px; }

  .four, .siteheader li:first-child, .sidebar, .main .pull, .home .main article, .works .info, .writings.index article .written {
    width: 244px; }

  .five {
    width: 308px; }

  .six {
    width: 372px; }

  .seven {
    width: 436px; }

  .eight, .main, .works figure, .writings.index article article {
    width: 500px; }

  .nine, .new input, .new textarea, .edit input, .edit textarea {
    width: 564px; }

  .ten {
    width: 628px; }

  .eleven {
    width: 692px; }

  .twelve, .home .main, .books.index .main, .works h1, .writings.index article h1, .new h1, .edit h1 {
    width: 756px; }

  .pull {
    width: 244px;
    margin-right: -256px; }

  .books .main ol img {
    width: 132px; } }
/*
  Handheld landscape
*/
@media only screen and (min-width:480px) and (max-width:767px) {
  .container, #wrapper {
    width: 420px; }

  .column, .siteheader li, .main, .sidebar, .home .main article, .home .cover, .works h1, .works .info, .works figure, .writings.index article h1, .writings.index article .written, .writings.index article article, .new h1, .edit h1, .new label, .edit label, .new input, .new textarea, .edit input, .edit textarea {
    margin-left: 0;
    margin-right: 0; }

  .one, .two, .siteheader li, .home .cover, .new label, .edit label, .three, .four, .siteheader li:first-child, .sidebar, .main .pull, .home .main article, .works .info, .writings.index article .written, .five, .six,
  .seven, .eight, .main, .works figure, .writings.index article article, .nine, .new input, .new textarea, .edit input, .edit textarea, .ten, .eleven, .twelve, .home .main, .books.index .main, .works h1, .writings.index article h1, .new h1, .edit h1 {
    width: 420px; }

  .pull {
    width: 100%;
    margin-right: 0; }

  .siteheader li {
    text-align: center;
    float: left;
    width: 25%; }
    .siteheader li:first-child {
      text-align: center;
      width: 100%; }

  .home h1 {
    font-size: 28px;
    line-height: 36px; }

  .books .main ol img {
    width: 124px; }

  .writings article .written {
    text-align: left; } }
/*
  Handheld portrait
*/
@media only screen and (max-width:479px) {
  .container, #wrapper {
    width: 300px; }

  .column, .siteheader li, .main, .sidebar, .home .main article, .home .cover, .works h1, .works .info, .works figure, .writings.index article h1, .writings.index article .written, .writings.index article article, .new h1, .edit h1, .new label, .edit label, .new input, .new textarea, .edit input, .edit textarea {
    margin-left: 0;
    margin-right: 0; }

  .one, .two, .siteheader li, .home .cover, .new label, .edit label, .three, .four, .siteheader li:first-child, .sidebar, .main .pull, .home .main article, .works .info, .writings.index article .written, .five, .six,
  .seven, .eight, .main, .works figure, .writings.index article article, .nine, .new input, .new textarea, .edit input, .edit textarea, .ten, .eleven, .twelve, .home .main, .books.index .main, .works h1, .writings.index article h1, .new h1, .edit h1 {
    width: 300px; }

  .pull {
    width: 100%;
    margin-right: 0; }

  .siteheader li {
    text-align: center;
    float: left;
    width: 25%; }
    .siteheader li:first-child {
      text-align: center;
      width: 100%; }

  .home h1 {
    font-size: 28px;
    line-height: 36px; }

  .writings article .written {
    text-align: left; } }
