/*
	RESET
*/
html, body, div, span, object, iframe,  h1, h2, h3, h4, h5, h6, 
p, blockquote, pre,  abbr, address, cite, code,  del, dfn, em, 
img, ins, kbd, q, samp,  small, strong, sub, sup, var,  b, i,  
dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, 
caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, 
details, figcaption, figure,  footer, header, hgroup, menu, nav, 
section, summary,  time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
/*
	HTML5 Elements
*/
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary {display:block;}

/*
	12-column, 960px grid
*/
.grid_1 { width:6.25%; } /* 60 */
.grid_2 { width:14.583%; } /* 140 */
.grid_3 { width:22.917%; } /* 220 */
.grid_4 { width:31.25%; } /* 300 */
.grid_5 { width:41.667%; } /* 380 */
.grid_6 { width:47.917%; } /* 460 */
.grid_7 { width:56.25%; } /* 540 */
.grid_8 { width:64.583%; } /* 620 */
.grid_9 { width:72.917%; } /* 700 */
.grid_10 { width:81.25%; } /* 780 */
.grid_11 { width:89.583%; } /* 860 */
.grid_12 { width:97.917%; } /* 940 */
.column {margin: 0 1.04%;float: left;display: inline;}
.row {max-width: 960px;width: 97.875%;margin: 0 auto;}
.push_3 {margin-right:-240px !important;}
.push_4 {margin-right:-320px !important;}

/*
	Base Styles
*/
html { overflow-y: scroll; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
	Primary Styles
*/
body {color:#333;font:16px/24px Georgia, serif;}
#wrapper {padding:24px; max-width:960px;margin:auto;}
a:link {color:#2BA4BF;}
	a:visited {color:#117A8F;}
	a:hover, a:active {color:#53C8DF;}
img {display:block;margin:0 auto 24px;}
p img {display:inline}
ul {list-style:none;}
article ul {list-style:disc;}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd {margin-bottom:24px;font-weight:normal;}
h1 {font-size:42px;line-height:48px;}
h2 {font-size:24px;line-height:24px;}
h3 {font-size:21px;line-height:24px;}
h4 {font-size:18px;line-height:24px;}
h5 {font-size:16px;line-height:24px;}
blockquote {padding:0 12px;color:#666;}
dt {font-weight:bold;}
figure img {width:100%;}
figcaption {color:#666;line-height:16px;font-size:13px;}

#admin_bar {background:#ccc;background: -moz-linear-gradient(top, #CCCCCC 80%, #BBBBBB 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#CCCCCC), color-stop(100%,#BBBBBB));color:#fff;border-bottom:1px solid #bbb;}
  #admin_bar ul {width:960px;margin:auto;overflow:hidden;}
  #admin_bar li {float:left;}
  #admin_bar li:last-child {float:right;}
  #admin_bar a {display:block;padding:0 10px;}
    #admin_bar a:hover {background:rgba(255,255,255,.2);}

.siteheader ul {text-align:right;padding:10px;border-bottom:1px dotted #ccc;font-size:24px;}
  .siteheader li {display:inline;margin-left:24px;}
  .siteheader a {text-decoration:none;color:#999;border-bottom:2px solid #fff;}
    .siteheader a:hover {color:#666;}
  #logo {float:left;}

.sitefooter {color:#999;border-top:1px dotted #ccc;padding:10px;}
  #contact {float:right;}
  
/*
  Page Styles
*/
.books {list-style:none;overflow:hidden;padding:10px;}
  .books li {float:left;}
  .books a {display:block;}
  .books img {width:140px;}
.book_info {width:auto;text-align:center;}
  .book_info img {width:140px;}
  .book_info span {display:block;}


/*
	Helper Classes
*/
.left {float:left;margin:0 10px 10px 0;}
.right {float:right;margin:0 0 10px 10px;}
.inline-block-list {word-spacing:-1em;}
	.inline-block-list li {display:inline-block;float:none;margin-bottom:12px;vertical-align:middle;}
	.inline-block-list a, .inline-block-list img {display:block;width:100%;}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: ".";    
	display: block;    
	height: 0;    
	overflow: hidden;	
}
.clearfix:after, .row:after {clear: both;}
.clearfix, .row {zoom: 1;} /* IE < 8 */

/* Footnotes */
#footnotes {border-top:1px solid #ccc;padding-top:23px;margin-top:48px;}
#footnotes h2 {font-size:16px;font-weight:bold;letter-spacing:2px;text-transform:uppercase;}
a[rel=footnote] {vertical-align:super;line-height:.5;}
#footnotediv {
	padding:10px;
	background-color:#fff;
	background-color:#EFECE0;
	-moz-box-shadow:0 4px 8px #666;
	-webkit-box-shadow:0 4px 8px #666;
	box-shadow:0 4px 8px #666;
	behavior: url(/js/PIE.htc);
}



@media print {

}

@media screen and (max-width: 480px) {
  .siteheader ul {text-align:center;padding:0 0 10px;}
    .siteheader li {margin:8px;}
  #logo {float:none;display:block;clear:both;margin-bottom:24px;}
}