<% provide :title, 'All Authors I’ve Read' %>

<h1>I’ve read books by</h1>
<ul>
<% @authors.each do |author| %>
  <li><%= link_to author.full_name, author %> (<%= author.books.published.count %>)</li>
<% end %>
</ul>
