<div id="disqus_thread" class="post-comments"></div>
<script type="text/javascript">
  var disqus_shortname = 'stevegrossi';
  var disqus_identifier = '<%= polymorphic_path(commentable) %>';
  var disqus_title = '<%= commentable.title %>';
  var disqus_url = '<%= "http://stevegrossi.com" + polymorphic_path(commentable) %>';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
