<h1>Hey, I’m Steve and I design and build tools that help people do awesome things on the internet. This, like me, is a work-in-progress.</h1>

<ol class="title_list">
  <% @latest.each do |thing| %>
    <%= content_tag :li, :class => thing.class.to_s.underscore do %>
      <%= content_tag :span, "on #{thing.published_at.to_date.to_s(:long)} I #{{'work' => 'built', 'book' => 'read', 'writing' => 'wrote'}[thing.class.to_s.underscore]}" %>
      <%= link_to (thing.respond_to?(:url) ? nice_url(thing.url) : thing.title), thing %>
    <% end %>
  <% end %>
</ol>