<figure class="right polaroid">
  <%= image_tag "http://cloud.stevegrossi.com/images/me_sm.jpg", title: "Me on the Subway", alt: '' %>
</figure>

<h1>Designer, Developer, Nerd</h1>
<p>I'm a philosophy-major-turned-coder with five years experience designing and developing websites. I like to build nimbly so I use Ruby on Rails (since 2010), SASS, and CoffeeScript, but carefully so I test with RSpec and log every change with Git. (And practically--I know when a simple WordPress site will suffice, and how to extend it when it doesn't quite.) I understand that websites are for humans and devices with a range of capabilities, so I mark up accessibly, enhance progressively, and adapt responsively. And I'm always learning, in order to build the best experiences in the best way.</p>
<h2>Experience</h2>
<dl>
  <dt>Senior Coordinator of Online Projects at Cancer<i>Care</i> (July 2009–present)</dt>
  <dd>
    <ul>
      <li>I joined Cancer<i>Care</i> as a designer and, paired with a senior developer for the first two years, redesigned and rebuilt <%= link_from_url('http://www.cancercare.org') %>, which receives over 500,000 visits each year. I guided the design, championing the user experience through a number of stakeholder reviews in addition to learning Ruby on Rails and building a CMS for Cancer<i>Care</i>’s non-technical content editors. By rewriting the markup to be semantic and sensible, I helped increase search-engine referrals by 40%.</li>
      <li>When my partner moved on, I became the sole designer and developer at Cancer<i>Care</i>, responsible for building and maintaining all of their websites, like the new, responsive <%= link_from_url('http://www.cancercarecopay.org') %>.</li>
      <li>I also code Cancer<i>Care</i>’s email newsletter which reaches about 70,000 people.</li>
      <li>I've managed two contract coders brought on to help with big projects.</li>
    </ul>
  </dd>
  <dt>Freelancer (2008–present)</dt>
  <dd>My personal mission as a freelancer is to banish the concept of a “webmaster”. I set all of my clients up with heavily customized WordPress installations, leveraging the custom post type and menu APIs to empower them to manage their content with ease. Since I moonlight these jobs, I prefer smaller projects for artists, churches, and local businesses.</dd>
</dl>

<h2>Skills</h2>
<ul>
  <li>Semantic, maintainable, lightweight <strong>HTML</strong> and <strong>CSS</strong> (with SASS)</li>
  <li><strong>JavaScript/CoffeeScript</strong> (mostly jQuery) for progressive enhancements</li>
  <li><strong>Ruby on Rails</strong> (Git-managed, RSpec-tested)</li>
  <li><strong>PHP</strong>, for developing <strong>WordPress</strong> as a CMS</li>
  <li>I’m <strong>a quick, keen learner</strong>, self-directed or otherwise (I taught myself enough Rails to build this site in a few weeks)</li>
</ul>

<h2>Schooling</h2>
<dl>
  <dt>New York University, College of Arts and Sciences</dt>
  <dd>Bachelor of Arts in Philosophy &amp; Comparative Literature, <i lang="la">magna cum laude</i>. Philosophy taught me how to think logically and clearly, which I’m thankful for as a coder, and CompLit showed me how to think critically about anything, which I depend on as a designer.</dd>
</dl>