li.book
  article
    = image_tag('placeholder.png', class: 'cover', data: { original: book.cover_url })
    span.title
      - if book.posted?
        = link_to(book.title, book.post)
      - else
        = content_tag(:span, book.title)
    = author_list(book)
    span.meta
      #{ book.publisher }, #{ book.pub_year }
