<h1>Read:</h1>

<ol class="books">
  <% @books.each do |book| %>
  <li>
    <%= link_to raw("<img src='http://images.amazon.com/images/P/#{ book.asin }.01.LZZZZZZZ.jpg' alt=''>"), book %>
  </li>
  <% end %>
</ol>