<% provide :title, 'Books' %>
<% provide :description, 'Writing about books helps me figure out what I think about them.' %>

<h1>I read books.</h1>
<ol class="title_list">
  <%= render @books %>
</ol>
