<div role="main" class="main">
  <h1>I read books.</h1>
  <ol class="books_list">
    <% @books.each do |book| %>
    <li>
      <%= link_to( image_tag("http://images.amazon.com/images/P/#{ book.asin }.01.LZZZZZZZ.jpg", :alt => book.title, :class => 'cover'), book ) %>
    </li>
    <% end %>
  </ol>
</div>