<% provide :title, 'Books' %>
<% provide :description, 'Writing about books helps me figure out what I think about them.' %>

<% if @unread.present? %>
<h2>Currently Reading</h2>
<ol class="title_list">
  <%= render @unread %>
</ol>
<% end %>

<% if @unposted.present? %>
<h2>Recently Read and Thinking About</h2>
<ol class="title_list">
  <%= render @unposted %>
</ol>
<% end %>

<% if @posted.present? %>
<h2>Recently Written About</h2>
<ol class="title_list">
  <%= render @posted %>
</ol>
<% end %>
