- provide :title, @book.title
- provide :description, 'I read a book.'

footer class="sidebar"
  = image_tag(@book.cover_url, alt: '', class: 'cover')
  span class="book_title"
    = @book.title
  span class="book_author"
    = linked_author_list(@book)
  span class="book_publisher"
    #{ @book.publisher }, #{ @book.pub_year }
  - if @book.asin?
    = link_to('Amazon', "http://www.amazon.com/gp/product/#{ @book.asin }?ie=UTF8&tag=stevgros-20")
hgroup
  h1 = @book.title
  - if @book.subtitle.present?
    h2= @book.subtitle

p class="meta"
  = @book.start_date
