- provide :title, '404: Page Not Found'

h1 Hi, I am a server.
figure class="right"
  = image_tag('aquariumdoodle.jpg', alt: 'I have a 20-gallon freshwater tropical aquarium that sits on my dresser. It houses three tiger barbs, one green.')
p At times like this, I'm supposed to say something like "Error 404: Page Not Found," but that's kind of dreary, don't you think? Think of it like this: you've found a page that most folks will never see. Not good enough? How about I throw in this doodle Steve made of his aquarium?
p But seriously, I'm sorry that I can't make sense of the address you're looking for. If you've spelled everything correctly, then the page has probably moved or been deleted. It's not a big site, so you may want to just use the navigation above or start over from #{ link_to('the homepage', root_path) }.
