@media only screen and (min-width: 480px) {
  .one    {width:6.25%;}
  .two    {width:14.583%;}
  .three  {width:22.917%;}
  .four   {width:31.25%;}
  .five   {width:39.591%;}
  .six    {width:47.917%;}
  .seven  {width:56.25%;}
  .eight  {width:64.583%;}
  .nine   {width:72.917%;}
  .ten    {width:81.25%;}
  .eleven {width:89.583%;}
  .twelve {width:97.917%;}
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .column {margin-left:1.04%;margin-right:1.04%;float:left;}
  .row {
    @extend .clearfix;
    width: 97.875%;
    margin: 0 1.064%;
  }
  .books.show .four, .books.show .eight {
    float:right;
  }
  .pull {
    @extend .four;
    float:right !important;
    margin-right:-52.08% !important;
    width:50% !important;
  }
  .writings.index .main li {
    margin:$line_height -1.04%;
  }
  .home {
    h1 {
      font-size:32px;
      line-height:38px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #wrapper {
    max-width:960px;
  }
  .books.index ol {
    margin-left:-1.04%;
    margin-right:-1.04%;
  }
  .home {
    h1 {
      font-size:36px;
      line-height:48px;
    }
  }
}