@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}
@mixin round($rad: 10px) {
  -moz-border-radius: $rad ;
  -webkit-border-radius: $rad ;
  border-radius: $rad ;
}
@mixin shadow($params: 0 4px 8px rgba(0, 0, 0, 0.2)) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}
@mixin transition($opts) {
  -webkit-transition: $opts;
  -moz-transition: $opts;
  -o-transition: $opts;
  -ms-transition: $opts;
  transition: $opts;
}
@mixin columns($cols: 2, $gap: 0px) {
  -moz-column-count: $cols;
	-moz-column-gap: $gap;
	-webkit-column-count: $cols;
	-webkit-column-gap: $gap;
	column-count: $cols;
	column-gap: $gap;
}
@mixin transform($opts) {
  -moz-transform: $opts;
  -webkit-transform: $opts;
  -webkit-backface-visibility: hidden;
  -o-transform: $opts;
  -ms-transform: $opts;
  transform: $opts;
}
@mixin rotate($deg) {
  @include transform(rotate($deg));
}