$darker_gray: #333;
$dark_gray: #666;
$gray: #999;
$light_gray: #ccc;
$lighter_gray: #eee;
$serif_stack: CharisSIL, Georgia, serif;
$mono_stack: Monaco, monospace;
$icon_stack: Icons;

// Solarized colors
$yellow:  #B58900;
$orange:  #CB4B16;
$red:     #DC322F;
$magenta: #D33682;
$violet:  #6C71C4;
$blue:    #268BD2;
$cyan:    #2AA198;
$green:   #859900;
$white:   #FDF6E3;
$cream:   #EEE8D5;
$dark:    #2F353E;
$slate:   #93A1A1;

$baseline: 24px;
