/*
*= require_self
*/

@import 'type';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'helpers';

.main {
  @include clearfix;
}
.main, .sitefooter, .siteheader nav {
  max-width: 90%;
  margin: 0 auto;
  @include breakpoint(s) { max-width: 80%; }
  @include breakpoint(l) { max-width: 75%; }
  @include breakpoint(xl) { max-width: 70%; }
}
#logo {
  display: block;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  line-height: .75;
  letter-spacing: -1px;
  @include breakpoint(m) {
    float: left;
    padding: 0;
  }
}
.siteheader {
  background-color: $dark;
  @include clearfix;
  @include breakpoint(m) { padding-top: $baseline; }
  ul {
    width: 100%;
    float: right;
    text-align: center;
    @include breakpoint(m) { width: auto; }
    a {
      padding: .25em;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  li {
    display: inline-block;
    margin: 0 .5em;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: $slate;
    position: relative;
  }
  .current {
    color: #fff;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-top-width: 1em;
      border-top-style: solid;
      border-top-color: $dark;
      position: absolute;
      bottom: -1em;
      left: 50%;
      margin-left: -1em;
    }
  }
}
a[data-icon] {
  visibility: hidden;
  width: 1em;
  overflow: hidden;
  &:before {
    visibility: visible;
    content: attr(data-icon);
    font-family: $icon_stack;
  }
}
.pagination {
  margin: $baseline 0;
  text-align: center;
  span {
    display: inline-block;
    border: 2px solid $dark;
    padding: 0 .5em;
    @include round;
    &.current {
      background-color: $dark;
      color: #fff;
    }
  }
  a {
    color: $dark;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.sitefooter {
  border-top: 1px dotted $light_gray;
  color: $gray;
  a {
    color: $gray;
  }
}

@import 'pages';
@import 'print';

// Admin
@import 'chosen';
