// require_self

@import type
@import normalize
@import variables
@import mixins
@import base
@import layout
@import helpers
@import chosen

.meta
  h1
    margin: .5em 0
  .main, .sitefooter, .siteheader nav
    max-width: 90%
  table
    font-size: 16px
    clear: both

